
    .Contato{
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    }
    .Conteudo{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    p {
    font-size: 20px;
    }

    input{
    align-items: center;
    text-align: center;
    width: 100%;
    }
    
    .Contact_btn{
        
            justify-content: space-between;
            width: auto;
            align-items: center;
            height: 10%;
            width: 100%;
            border-radius: 48px;  
        }
        
        .Contact_btn:hover{
            background-color: #fceeaf;
    }